---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import StatsBar from '../components/StatsBar';
import ServicesGrid from '../components/ServicesGrid';
import WhyUs from '../components/WhyUs';
import ComparisonTable from '../components/ComparisonTable';
import Testimonials from '../components/Testimonials';
import ContactForm from '../components/ContactForm';
---

<Layout title="IT-аутсорсинг для бізнесу в Києві | OST">
    <HeroSection />
    <div class="scroll-reveal">
        <ServicesGrid client:visible />
    </div>
    <div class="scroll-reveal">
        <StatsBar client:visible />
    </div>
    <div class="scroll-reveal">
        <WhyUs client:visible />
    </div>
    <div class="scroll-reveal">
        <ComparisonTable client:visible />
    </div>
    <div class="scroll-reveal">
        <Testimonials client:visible />
    </div>
    <div class="scroll-reveal">
        <ContactForm client:visible />
    </div>
</Layout>
