---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import StatsSection from '../components/StatsSection.astro';
import FounderSection from '../components/FounderSection.astro';
import ServicesGrid from '../components/ServicesGrid';
import WhyUs from '../components/WhyUs';
import ComparisonSection from '../components/ComparisonSection.astro';
import Testimonials from '../components/Testimonials';
import ContactForm from '../components/ContactForm';
---

<Layout title="IT-аутсорсинг для бізнесу в Києві | OST">
    <HeroSection />
    <div class="scroll-reveal">
        <StatsSection />
    </div>
    <div class="scroll-reveal">
        <FounderSection />
    </div>
    <div class="scroll-reveal">
        <ServicesGrid />
    </div>
    <div class="scroll-reveal">
        <WhyUs />
    </div>
    <div class="scroll-reveal">
        <ComparisonSection />
    </div>
    <div class="scroll-reveal">
        <Testimonials />
    </div>
    <div class="scroll-reveal">
        <ContactForm />
    </div>
</Layout>
