---

---

<div class="bg-[#1a3a6b] text-white">
    <div class="container-main flex flex-col gap-1 px-4 py-2 text-xs sm:flex-row sm:items-center sm:justify-between sm:px-6 sm:text-sm lg:px-8">
        <div class="flex flex-wrap items-center gap-4 sm:gap-6">
            <a href="tel:+380442899541" class="no-underline text-white/90 transition-colors hover:text-white">
                +38 (044) 289 95 41
            </a>
            <a href="mailto:info@ost.kiev.ua" class="no-underline text-white/90 transition-colors hover:text-white">
                info@ost.kiev.ua
            </a>
        </div>
        <div class="text-white/80">
            <span>Пн-Пт: 9:00 - 18:00</span>
        </div>
    </div>
</div>
